@using ContentModels = Umbraco.Web.PublishedContentModels

<div class="breadcumb_area bg-img" style="background-image: url(@Model.Content.BackgroundImage.Url);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>@Model.Content.Title</h2>
                </div>
            </div>
        </div>
    </div>
</div>